{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    // Stage 0
    "@babel/plugin-proposal-function-bind",

    // Stage 2
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-transform-export-namespace-from",
    "@babel/plugin-transform-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",

    "@babel/plugin-transform-class-properties"
  ]
}